body{
    margin: 0;
}
h1{
    margin: 0;
}
.img1{
    height: 75px;
    width: 75px; 
    position: absolute;
    box-shadow: black;  
}
.iconname{
    color: orangered;
}
.brandname{
    font-family: 'Roboto', sans-serif;
    margin-left: 80px;
    padding-top: 20px;
    position: absolute;
}
.heading1{
    padding-left: 300px;
    color: orange;
}
.menu:hover{
    padding-top: 25px;
    color: black;
    font-weight: bold;
    text-decoration: double;
}
.a1{
    padding-top: 40px;
    text-decoration: double;
}
.a2{
    padding-left: 50px;
    text-decoration: double;
}
.a3{
    padding-left: 50px;
    text-decoration: double;
}
.a4{
    padding-left: 50px;
    text-decoration: double;
}
.appbutton{
    margin-left: 400px;
}
.heading2{
    padding-top: 10px;
    color: orange;
}
.heading3{
    color: black;
    height: 15px;
    padding-left: 20px;
}
.png{
    height: 30px;
    width: 30px;
    margin-left: 350px;
    margin-top: 5px;
    position: absolute;
}
.heading4{
    color: black;
    padding: 0px;
    margin-top: 200px;
    margin: 0px;
    padding-left: 20px;
}
.a5{
    padding-left: 20px;
}
.para{
    color: orange;
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
    margin-top: 50px;
    padding-left: 20px;
}
.p1{
    margin-top: 130px;
    padding-left: 20px;
}
.lastimg{
    border-radius: 20px;
    height: 400px;
    width: 500px;
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.box1{
    position: absolute;
}
.food1{
    height: 150px;
    width: 200px;
    margin-top: 50px;
    padding-left: 50px;
}
.p2{
    padding-left: 10px;
}
.topbox{
    position: absolute;
    animation-name: topbox;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.order{
   margin-top: 40px;
   margin-left: 20px;
}
.food2{
    height: 150px;
    width: 200px;
}
.box2{
    padding-left: 350px;
    margin-top: 50px;
    position: absolute;
}
.food3{
    height: 150px;
    width: 200px;
}
.box3{
    padding-left: 700px;
    margin-top: 50px;
    position: absolute;
}
.food4{
    height: 150px;
    width: 200px;
    border-radius: 20px;
}
.box4{
    padding-left: 1050px;
    margin-top: 50px;
}
.h4{
    padding-left: 400px;
}
.a6{
    color: orangered;
    text-decoration: double;
    padding-left: 11rem;
    padding-top: 100rem;
    font-size: 1.5rem;
}
.a7{
    color: black;
    text-decoration: double;
    padding-left: 9rem;
    font-size: 2rem;
}
.a8{
    color: orangered;
    font-style: italic;
    padding-left: 12rem;
    font-family: 'Dancing Script', cursive;
    text-decoration: double;
    font-size: 1.5rem;
}
.a9{
    color: orangered;
    padding-left: 13rem;
    text-decoration: dotted;
    font-size: 1.5rem;
}
.h5{
    padding-left: 500px;
    padding-top: 90px;
}
.h6{
    margin-left: 7rem;
    margin-top: 2rem;
}
.food5{
    height: 10rem;
    width:7rem;
    margin-left: 7rem;
    margin-top: 2rem;
    padding: 0;
}
.burger1{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.burger1{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 10px 10px;
}

.p6{
    margin-left: 300px;
}
.box6{
    margin-left: 100px;
    text-align: center;
    position: absolute;
    margin-top: 2rem;
}
.box7{
    margin-left: 400px;
    text-align: center;
    position: absolute;
}
.box8{
    margin-left: 690px;
    text-align: center;
    position: absolute;
}
.milk{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.milk:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 10px 10px;
}
.pancake{
    height: 250px;
    width: 250px;
    border-radius: 20px;

}
.pancake{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 10px 10px;
}

.fries{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.fries{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 10px 10px;
}

.box9{
    margin-left: 950px;
    text-align: center;
}
.butt{
    background-color: orangered;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 6rem;
}
.butt1{
    border-radius: 20px;
    border: 1px solid;
}
.slice{
    height: 500px;
    width: 500px;
    position: absolute;
    margin-left: 800px;
    margin-top: 6.5rem;
}
.box11{
    height: 500px;
    width: 800px;
    background-color: orangered;
    margin-top: 5rem;
}
.hc{
    text-align: center;
    color: white;
    padding-top: 9rem;
}
.pp{
    color: white;
    padding-top: 2rem;
    padding-left: 16rem;
}
.hc1{
    margin-top: 7rem;
    margin-left: 30px;
}
.pp1{
    margin-left: 30px;
    margin-top: 3rem;
    position: absolute;
}
.buti{
    border-radius: 20px;
    margin-left: 40rem;
    margin-top: 1rem;
}
.hc2{
    margin-left: 40rem;
}
.hc3{
    margin-left: 40rem;
    margin-top: 1rem;
}
.buti1{
    border-radius: 20px;
    margin-left: 40rem;
    margin-top: 1rem;
}
.hc4{
    margin-left: 40rem;
    margin-top: 1rem;
}
.buti2{
    border-radius: 20px;
    margin-left: 40rem;
    margin-top: 1rem;
}
